body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: #ffffff;
  color:#333333;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-family: 'Open Sans', sans-serif;
}

a {
  color:#c43921;
  text-decoration:none;
}

a:hover {
  color:#0d9a53;
  text-decoration: none;
}
